body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    background-color: #f4f7f6;
    color: #ffffff;
    line-height: 1.6;
  }
  
  h1, h2, h3 {
    color: #9900ff;
    margin-bottom: 15px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #a200ff;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: hsl(283, 100%, 50%);
  }
  
  input,
  select {
    padding: 8px 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 95%;
    max-width: 400px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 20px;
  }